<h1>Events</h1>
<a href="{% url 'events:create' %}">Create New Event</a>
<ul>

{% if events_list %}
    <ul>
    {% for event in events_list %}
        <li><a href="{% url 'events:detail' event.id %}">{{ event.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} | <a href="{% url 'accounts:logout' %}">Logout</a></p>
{% else %}
    <p><a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:register' %}">Register</a></p>
{% endif %}
